<div class="page-container">

  <!-- 
    1. عطينا السايد بار اسم مرجعي #sidebarRef 
    ده بيخلينا نقدر نشوف المتغيرات اللي جواه (زي isSidebarExpanded) مباشرة هنا
  -->
  <app-sidebar #sidebarRef class="sidebar"></app-sidebar>

  <!-- 
    2. استخدمنا المتغير المرجعي ده عشان نتحكم في كلاسات المحتوى 
    لاحظ: !sidebarRef.isSidebarExpanded بدل ما نكتب كود في الـ TS
  -->
  <main class="main-content" [class.collapsed]="!sidebarRef.isSidebarExpanded">

    <div class="cards-container">
      <div *ngFor="let card of cards" class="energy-card" [ngClass]="card.type">
        <div class="icon-wrapper">{{card.icon}}</div>
        <div class="card-content">
          <h3>{{card.title}}</h3>
          <div class="value">
            <h1>{{card.value}}</h1>
          </div>
          <p>{{card.subvalue}}</p>
        </div>
      </div>
    </div>

   <div class="chart-section" *ngIf="chartOptions">
      <div class="chart-header">
        <h3>Hourly Usage</h3>
        <span class="badge">Last 24 Hours</span>
      </div>

      <div id="chart">
        <apx-chart
          [series]="chartOptions.series"
          [chart]="chartOptions.chart"
          [dataLabels]="chartOptions.dataLabels"
          [plotOptions]="chartOptions.plotOptions"
          [yaxis]="chartOptions.yaxis"
          [xaxis]="chartOptions.xaxis"
          [legend]="chartOptions.legend"
          [colors]="chartOptions.colors"
          [grid]="chartOptions.grid"
          [fill]="chartOptions.fill"
          [tooltip]="chartOptions.tooltip"
        ></apx-chart>
      </div>
       <div class="peak-usage">
        <div class="usage-icon">📈</div>
        <div class="usage-content">
          <h3>Peak Usage: 2 PM - 6 PM</h3>
          <p>Consider shifting high-power activities to off-peak hours.</p>
        </div>
      </div>
   </div>

     

  </main>
</div>